/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Variables */
:root {
    --orange-color: #f75f1d;
    --light-orange-color: #ff7e00;
    --text-color: #333333;
    --bg-color: #fff;
}

section {
    padding: 100px 0;
}

/* Slider */

.p-slider {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 70%;
}

.btn {
    padding: 10px 15px;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 200px;
}

.btn .bx {
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 30px;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: var(--light-orange-color);
    transition: .2s ease;
}


.product-slider-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 600px;
}

.product-slider-heading h1 {
    color: var(--text-color);
    font-size: 23px;
    font-weight: 600;

}

.product-slider-heading span {
    color: var(--orange-color);
}

.product-box {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    flex-direction: column;
    width: 300px;
    padding: 15px;
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
    border-radius: 10px;
    margin: 20px 10px;
    position: relative;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;

}

.p-img a,
.p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.p-box-text {
    margin-top: 5px;
    width: 100%;
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span {
    color: #acacac;
    font-size: 15px;
    margin: 5px 0px;
}

.product-title {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: .3s all ease;
}

.product-title:hover {
    color: #111111;
    opacity: .7;
    transition: .3s all ease;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .bx-heart {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 15px;
    color: var(--orange-color);
}

.price-buy .p-price {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.price-buy .bx-cart-alt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    background: var(--orange-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 5px 0 5px 0;
}

.price-buy .bx-cart-alt:hover {
    background: var(--light-orange-color);
    transition: .2s all linear;
}

/* Discount */
.p-discount {
    position: absolute;
    left: -1px;
    top: 9px;
    width: 33px;
    height: 18px;
    color: #ffffff;
    background: var(--orange-color);
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    z-index: 100;
}


.slider-btns button {
    margin-top: 35px;
    color: var(--light-orange-color);
}

@media (max-width:712px) {
    .product-slider-heading {
        gap: 150px;
    }
}

@media (max-width: 546px) {
    .product-slider-heading {
        gap: 70px;
    }

    .btn {
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 400;
        border-radius: 30px;
    }

    .btn .bx {
        font-size: 13px;
    }

    .product-slider-heading h1 {
        font-size: 21px;
    }
}

@media (max-width: 370px) {
    .product-slider-heading {
        gap: 33px;

    }

    .btn {

        padding: 10px 10px;
        font-size: 13px;
        font-weight: 400;
        border-radius: 30px;
    }

    .btn .bx {
        font-size: 10px;
    }

    .product-slider-heading h1 {
        font-size: 20px;
    }

    .p-slider {
        width: 90%;
    }
}