/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Variables Colors */
:root {
    --orange-color: #ec8f04;
    --light-orange-color: #ffa928;
    --text-color: #333333;
    --bg-color: #fff;
    --new: #ec8f0473;
}


section {
    padding: 100px 0;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.categories-top {
    margin-top: 30px;
    border-radius: 8px;
    height: 50px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    background: var(--orange-color);
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
}

.categories-top h3 {
    text-decoration: underline;
    margin-left: 80px;
    color: var(--bg-color);
}



.categories-short {
    list-style: none;
    display: flex;
    max-width: 808px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
    background: var(--bg-color);
}

.categories-short li a {
    color: var(--orange-color);
    margin-left: 5px;
    text-decoration: none;
}

.categories-short li a span {
    color: var(--orange-color);
}

.categories-short li a:hover {
    transition: .3s ease;
    color: var(--text-color);

}

/* Categories Page */
.categories-page {
    margin-top: -20px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.card-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.left-categories {
    border-radius: 8px;
    background: var(--orange-color);
    margin-top: -15px;
    list-style: none;
    width: 89%;
    height: 225px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
}

.left-categories li {
    margin-bottom: 5px;
}


.left-categories a {
    color: var(--bg-color);
    text-decoration: none;
}

.left-categories a:hover {
    transition: .3s ease;
    color: var(--text-color);
}

.left-categories .bx {
    color: var(--orange-color);
}

.left-categories img {
    width: 18px;
}

.right-categories {
    margin-top: -30px;
    width: 750px;
}

.right-categories h2 {
    margin-top: 2px;
    font-size: 25px;
    color: var(--text-color);
}

.right-categories span {
    color: var(--orange-color);
}

.product-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 23px;
    border-radius: 8px;
}

.box {
    margin-top: -4px;
    border-radius: 8px;
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
    padding: 10px;
    background: var(--bg-color);
    display: grid;
    row-gap: 14px;
}

.box img {
    border-radius: 8px;
    width: 215px;
    height: 215px;
    object-fit: contain;
    object-position: center;
}

.box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--bg-color);
    padding: 10px;
    border-radius: 14px;
}

.title-price h3 {
    font-size: 16px;
    font-weight: 600;
}

.title-price a h3:hover {
    transition: .3s ease;
    color: var(--text-color);
}

.title-price span {
    font-weight: 500;
}

.box-text .bx {
    padding: 10px;
    font-size: 20px;
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 40px;
}

.product-categories .box-text {
    background: var(--orange-color);
}

.product-categories .box-text h3 {
    color: var(--bg-color);
}

.product-categories .box-text span {
    color: var(--bg-color);
}

.product-categories .box-text .bx {
    background: var(--bg-color);
    color: var(--orange-color);
}

.product-categories .box-text .bx:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

/* * Mobile Related Product */
@media (max-width: 370px) {

    .categories-top {
        margin-top: 20px;
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .categories-top h3 {
        padding-bottom: 40px;
        font-size: 20px;
        margin-left: 40px;
    }

    .categories-short {
        padding: 5px;
        max-width: 260px;
        margin-top: 10px;
    }

    .categories-short li a {
        text-align: center;
        font-size: 14px;
    }

    .left-categories {
        display: none;
    }

    .right-categories {
        margin-top: -60px;
        margin-left: 0px;
        width: 320px;
        columns: 2;
    }

    .product-categories {
        display: grid;
        margin-left: 20px;
        grid-template-columns: repeat(auto-fit, minmax(155px, auto));
        gap: 33px;
        border-radius: 8px;
    }

    .box {
        margin-top: -4px;
        border-radius: 8px;
        box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
        padding: 10px;
        background: var(--bg-color);
        display: grid;
        row-gap: 14px;

    }

    .box img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .title-price h3,
    .title-price span {
        font-size: 15px;
    }

    .box-text .bx {
        margin-top: 25px;
        padding: 5px;
        font-size: 20px;
    }

}