/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Variables Colors */
:root {
    --orange-color: #ec8f04;
    --light-orange-color: #ffa928;
    --text-color: #333333;
    --bg-color: #fff;
    --new: #ec8f0473;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--orange-color);
}

/* Produk Terlaris Start */
section {
    padding: 100px 0;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}



.btn {
    padding: 10px 15px;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 200px;
}

.btn .bx {
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 30px;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: var(--text-color);
    transition: .2s ease;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    color: var(--text-color);
    font-weight: 600;
}

.heading span {

    color: var(--orange-color);
}

.products {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.product-box {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(10px, auto)); */
    flex-direction: column;
    /* width: 300px; */
    padding: 15px;
    box-shadow: 1px 2px 9px 4px rgb(14 55 54 / 15%);
    border-radius: 10px;
    margin: 20px 10px;
    position: relative;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a,
.p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.p-box-text {
    margin-top: 5px;
    width: 100%;
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span {
    color: #acacac;
    font-size: 15px;
    margin: 5px 0px;
}

.product-title {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: .3s all ease;
}

.product-title:hover {
    color: #111111;
    opacity: .7;
    transition: .3s all ease;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .bx-heart {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 15px;
    color: var(--orange-color);
}

.price-buy .p-price {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.price-buy .bx-cart-alt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    background: var(--orange-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 5px 0 5px 0;
}

.price-buy .bx-cart-alt:hover {
    background: var(--text-color);
    transition: .2s all linear;
}

/* Discount */
.p-discount {
    position: absolute;
    left: -1px;
    top: 9px;
    width: 33px;
    height: 18px;
    color: #ffffff;
    background: var(--orange-color);
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    z-index: 100;
}

/* Slide color */
.slider-btns button {
    margin-top: 35px;
    color: var(--light-orange-color);
}

/* End Product Terlaris */

/* Fashion Product Start*/
.fashion {
    margin-top: -30px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.headerr {
    display: grid;
    grid-template-areas:
        'hero productt'
}

.hero {
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    padding: 0 14px;
    font-size: 13px;
    grid-area: hero;
    min-height: 220px;
    background-size: cover;
    border-radius: 8px;
    background-color: var(--orange-color);
    color: var(--bg-color);
}

.headingg {
    margin-top: 88px;
    color: var(--bg-color);
}

.sub-heading {
    font-weight: 500;
    margin-top: 1px;
    margin-bottom: 10px;
}

.btn-box {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--bg-color);
    color: var(--orange-color);
    column-gap: 10px;
    display: flex;
    width: 88%;
    align-items: center;
}

.btn-box:hover {
    background: var(--text-color);
    color: var(--bg-color);
    transition: .2s ease;
}

.btn-box .bx {
    padding: 4px;
    background: var(--orange-color);
    color: var(--bg-color);
    border-radius: 30px;
    font-size: 20px;
}

.btn-box .bx:hover {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Product Card */
.productt {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 20px 0;
}

.product-container {
    border-radius: 0 8px 8px 0;
    padding: 0 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    padding: 10px;
}

.product-image {
    position: relative;
    width: 162px;
    height: 162px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}


/* Info Product */
.box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 10px;
    margin-top: 18px;
    border-radius: 14px;
}

.title-price h3 {
    font-size: 14px;
    font-weight: 600;
}

.title-price span {
    font-weight: 500;
}

.box-text .bx {
    padding: 8px;
    font-size: 18px;
    background: var(--bg-color);
    color: var(--orange-color);
    border-radius: 40px;
}

.box-text .bx:hover {
    color: var(--bg-color);
    background: var(--text-color);
}

/* Button Fashion Slider */
.pre-btn,
.nxt-btn {

    color: var(--bg-color);
    border: none;
    width: 1vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    font-size: 32px;
}


.pre-btn {
    padding: 15px;
    border-radius: 50%;
    height: 10%;
    margin-top: 150px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    background: var(--text-color);
    left: 3px;
    z-index: 9000;
}

.nxt-btn {
    padding: 15px;
    border-radius: 50%;
    height: 10%;
    margin-top: 150px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    background: var(--text-color);
    right: 7px;
}

.nxt-btn:hover {
    background: var(--orange-color);
}

.pre-btn:hover {
    background: var(--orange-color);
}

/* Kuliner Start */
.kuliner {
    margin-top: -30px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.headerr2 {
    display: grid;
    grid-template-areas:
        'productt2 hero2'
}

.hero2 {
    text-align: right;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    padding: 0 14px;
    font-size: 13px;
    grid-area: hero2;
    min-height: 220px;
    background-size: cover;
    border-radius: 8px;
    background-color: var(--orange-color);
    color: var(--bg-color);
}

.headingg {
    margin-top: 88px;
    color: var(--bg-color);
}

.sub-heading {
    font-weight: 500;
    margin-top: 1px;
    margin-bottom: 10px;
}

.btn-box2 {
    margin-left: 23px;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--bg-color);
    color: var(--orange-color);
    column-gap: 10px;
    display: flex;
    width: 88%;
    align-items: center;
}

.btn-box2:hover {
    background: var(--text-color);
    color: var(--bg-color);
    transition: .2s ease;
}

.btn-box2 .bx {
    transform: rotate(180deg);
    padding: 4px;
    background: var(--orange-color);
    color: var(--bg-color);
    border-radius: 30px;
    font-size: 20px;
}

.btn-box2 .bx:hover {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Product Card */
.productt2 {
    position: relative;
    overflow: hidden;
    padding: 20px 0 20px 20px;
}

.product-container2 {
    border-radius: 8px 0 0 8px;
    padding: 0 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
}

.product-container2::-webkit-scrollbar {
    display: none;
}

.product-card {
    padding: 10px;
}

.product-image {
    border-radius: 8px;
    position: relative;
    width: 162px;
    height: 162px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}


/* Info Product */
.box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 10px;
    margin-top: 18px;
    border-radius: 14px;
}

.title-price h3 {
    color: var(--bg-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.title-price h3:hover {
    opacity: .5;
}

.title-price span {
    font-weight: 500;
}

.box-text .bx {
    padding: 8px;
    font-size: 18px;
    background: var(--bg-color);
    color: var(--orange-color);
    border-radius: 40px;
}

.box-text .bx:hover {
    color: var(--bg-color);
    background: var(--text-color);
}

/* Button Fashion Slider */
.pre-btn,
.nxt-btn {

    color: var(--bg-color);
    border: none;
    width: 1vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    font-size: 32px;
}


.pre-btn {
    padding: 15px;
    border-radius: 50%;
    height: 10%;
    margin-top: 150px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    background: var(--text-color);
    left: 3px;
    z-index: 9000;
}

.nxt-btn {
    padding: 15px;
    border-radius: 50%;
    height: 10%;
    margin-top: 150px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    background: var(--text-color);
    right: 7px;
}

.nxt-btn:hover {
    background: var(--orange-color);
}

.pre-btn:hover {
    background: var(--orange-color);
}

/* Brand */
.brand {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.brand h1 {
    border-radius: 8px 8px 0 0;
    background: var(--orange-color);
    color: var(--bg-color);
    text-align: center;
    font-weight: 600;
}

.ma-bg {
    border-radius: 0 0 8px 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 80px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
}

.marquee {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    animation: animate 15s linear infinite;
}

.marquee img {
    margin-left: 15px;
    width: 80px;
    height: 80px;
}

/* Member Of */
.memberOf {
    display: none;
    padding-left: 560px;
    border-radius: 100px 100px 0 0;
    background: rgb(227, 221, 221);
    padding-bottom: 100px;
    margin-bottom: -88px;
}

.memberOf p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

/* Fotter */
.footer {
    overflow-x: hidden;
    border-radius: 100px 100px 0 0;
    background: var(--orange-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 16px;
}

.footer-box {
    margin-left: 70px;
}

.footer-box img {
    margin-right: 50px;
    width: 210px;
}

.footer-box h3 {

    color: var(--bg-color);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-box p {
    color: var(--bg-color);
}

.footer-box a {
    color: var(--bg-color);
    margin-bottom: 14px;
}

.footer-box a:hover {
    color: var(--text-color);
}

.social .bx {
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--bg-color);
}

.social .bx:hover {
    background: var(--text-color);
    transition: .3s all linear;
}

/* Copyright */
.copyright {
    display: flex;
    margin-top: 1px;
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}

.copyright p {
    margin-left: 30px;
    margin-top: 5px;
}

.copyright .social {
    margin-left: 950px;
}


@keyframes animate {
    100% {
        transform: translate(100%, 0);
    }
}

/* Tablet Responsive */
@media (max-width:768px) {

    .products,
    .fashion,
    .kuliner,
    .brand {
        max-width: 680px;
    }

    .product-image {
        width: 200px;
        height: 200px;
    }

    .nxt-btn,
    .pre-btn {
        font-size: 28px;
        padding: 18px;
        border-radius: 50%;
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 40px;
    }


    .copyright .social {
        margin-left: 400px;
    }


}

/* Mobile Responsive */
@media (max-width: 576px) {

    .products,
    .fashion,
    .kuliner,
    .brand {
        max-width: 510px;
    }

    .product-image {
        width: 250px;
        height: 250px;
    }

    .nxt-btn,
    .pre-btn {
        font-size: 28px;
        padding: 18px;
        border-radius: 50%;
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));
        gap: 40px;
    }


    .copyright .social {
        margin-left: 200px;
    }

}

/* Mobile Responsive */
@media (max-width: 370px) {

    .products,
    .fashion,
    .kuliner,
    .brand {
        max-width: 340px;
    }

    .slider-btns {
        display: none;
    }

    .heading h1 {
        font-size: 20px;
    }

    .btn {
        padding: 8px 8px;
        font-size: 15px;
        column-gap: 6px;
    }

    .btn .bx {
        font-size: 15px;
    }

    .hero {
        font-size: 12px;
        padding: 0 14px;
        font-size: 13px;
        grid-area: hero;
        width: 120px;
        height: 300px;
    }

    .hero2 {
        margin-top: -300px;
        font-size: 12px;
        padding: 0 14px;
        font-size: 13px;
        grid-area: hero;
        width: 120px;
        height: 300px;
    }

    .product-container,
    .product-container2 {
        width: 100%;
    }

    .product-image {
        width: 180px;
        height: 157px;
    }

    .headingg {
        margin-top: 56px;
        color: var(--bg-color);
    }

    .sub-heading {
        font-size: 10px;
        font-weight: 500;
        margin-top: 1px;
        margin-bottom: 10px;
    }

    .btn-box {

        font-size: 12px;
        padding: 5px 10px;
        column-gap: 10px;
        width: 100%;
    }

    .btn-box2 {
        font-size: 12px;
        padding: 5px 10px;
        column-gap: 10px;
        width: 100%;
        margin-left: 0;
    }

    .btn-box .bx {
        font-size: 15px;
    }

    .btn-box2 .bx {
        font-size: 15px;
    }

    .brand h1 {
        padding: 5px;
        font-size: 18px;
    }

    .ma-bg {
        height: 60px;
    }

    .pre-btn,
    .nxt-btn {
        margin-top: 140px;
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));
        gap: 40px;
    }


    .copyright .social {
        margin-left: 200px;
    }

    .copyright .social {
        margin-left: 20px;
    }

    .copyright p {
        margin-left: 38px;
        margin-top: 1px;
    }

    .social .bx {
        padding: 3px;
        font-size: 20px;
        border-radius: 10px;
        color: var(--bg-color);
    }

}